.navbar {
  background-color: #995F2F !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
  margin-left: 25px;
}
body {
  background: #ffffff;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
.navbar {
  background: #080d14;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
} 
.row {
  width: 100%;
}
h1 {
  color: white;
  font-size: 65px;
  font-weight: 600;
}
h2 {
  color: #622B14;
  font-size: 45px;
  font-weight: 700;
}
.desc {
  color: #A77F60;
  font-size: 20px;
  line-height: 1.8;
  margin-top: 25px;
}
.button-group {
  margin-top: 35px;
}
.btn-primary {
  background: #622B14;
  color: white;

  border: none;

  padding: 15px 35px;

  border-radius: 8px;

  font-size: 18px;
}

.btn-secondary {
  margin-left: 15px;

  background: transparent;

  color: #622B14;

  border: 2px solid #622B14;

  padding: 13px 35px;

  border-radius: 8px;

  font-size: 18px;
}
.profile-card {
  width: 420px;
  height: 420px;

  border-radius: 25px;

  overflow: hidden;

  border: 3px solid #622B14;

  margin: auto;
}
.profile-card img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.card {
  background: #622B14;

  color: white;

  border: none;

  border-radius: 15px;
}
.about {
  padding: 100px 0;
}

.about-card {
  width: 100%;

  background: #622B14;

  border: none;

  border-radius: 20px;

  padding: 30px;
}

.about-card h2 {
  color: #D96F32;
  font-size: 40px;
  margin-bottom: 25px;
}

.about-card p {
  color: #b7c1d1;

  font-size: 18px;

  line-height: 1.8;
}

.skill-list {
  margin-top: 40px;
}


.skill-item {
  text-align: left;
  margin-bottom: 25px;
  padding-left: 20px;
  border-left: 3px solid #FF8400;
}


.skill-item h4 {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}
.skill-item p {
  color: #b7c1d1;
  font-size: 17px;
  line-height: 1.7;
}

.card-project1 {
  background: #622B14;
  color: white;
  border: none;
  border-radius: 15px;
  width: 20rem; 
  margin-bottom: 20px; 
  margin-top: 20px; 
  margin-left: 150px;
} 
.card-project1 p {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
  margin-left: 10px;  
}
.card-project1 h5 {
  margin-top: 10px;
  margin-left: 10px;  
}
.card-project1 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-project2 {
  background: #622B14;
  color: white;
  border: none;
  border-radius: 15px;
  width: 20rem; 
  margin-bottom: 20px; 
  margin-top: 20px; 
  margin-right: 150px;
}
.card-project2 p {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;  
}
.card-project2 h5 {
  margin-top: 10px;
  margin-left: 10px;  
}
.card-project2 img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media (max-width: 992px) {
  .hero {
    padding-top: 50px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  .desc {
    font-size: 18px;
  }
  .profile-card {
    margin-top: 50px;

    width: 350px;

    height: 350px;
  }
}
@media (max-width: 576px) {
  .navbar {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .nav-link {
    margin-left: 0;
  }
  .hero {
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  .desc {
    font-size: 16px;
  }
  .button-group {
    display: flex;

    justify-content: center;

    flex-direction: column;

    gap: 15px;
  }
  .btn-primary,
  .btn-secondary {
    width: 100%;

    margin-left: 0;
  }
  .profile-card {
    width: 280px;

    height: 280px;

    margin-top: 50px;
  }
}
.navbar-toggler {
  border-color: rgba(255,255,255,0.5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
